<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/laptop-code-solid.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Personal Project Card</title>
  </head>

  <body>
    <section class="preview">
      <div
        class="projectImage"
        style="background-image: url('<%=projectInfo.image%>')"
      ></div>
      <article class="card">
        <h2 class="card__projectTitle">
          <span class="card__projectTitle--text"> Personal project card </span>
        </h2>

        <div class="card__author">
          <div
            class="card__authorPhoto"
            style="background-image: url('<%=projectInfo.photo%>')"
          ></div>
          <p class="card__job"><%=projectInfo.job%></p>
          <h3 class="card__name__autor"><%=projectInfo.autor%></h3>
        </div>

        <div class="card__project">
          <h3 class="card__name"><%=projectInfo.nameProject%></h3>
          <p class="card__slogan"><%=projectInfo.slogan%></p>
          <p class="card__description"><%=projectInfo.description%></p>

          <div class="card__technicalInfo">
            <p class="card__technologies"><%=projectInfo.technologies%></p>

            <a
              class="icon icon__www"
              href="<%=projectInfo.demo%>"
              target="_blank"
              title="Haz click para ver el proyecto online"
            ></a>
            <a
              class="icon icon__github"
              href="<%=projectInfo.repo%>"
              target="_blank"
              title="Haz click para ver el código del proyecto"
            ></a>
          </div>
        </div>
      </article>
    </section>
  </body>
</html>
